body {
    padding: 50px 100px;
}

@media (max-width: 620px) {
    body {
        padding: 50px 20px;
    }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #2D3748;
}
